@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
}


nav{
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 2em;
  padding: 1em;
}

footer{
  height: 4em;
  background-color: red;
}
.menu-item-img{
  max-height: 10em;
}

.menu-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.menu-item{
  width: 25em;
}

#cart-msg{
  opacity: 1;
  transition: all 3s;
}

.content-wrapper{
  padding: 3em 0;
  position: relative;
}

.msg-wrapper{
  padding: 1em;
  height: 3em;
}

#thanks-wrapper{
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  background-color: black;
  padding: 1em;
  color: white;
  display: none;
}
.cart-table{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.name-col{
  width: 75%;
}
.price-col{
  width: 25%;
}

.category{
  padding: .25em 0;
  background-color: red;
  width: 100%;
  color: white;
  margin: 1em 0;
}
.cart-table .total{
  padding-top: 1em;
  margin-top: 1em;
  color: red;
}


#details-wrapper{
  display: none;
  position: absolute;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.98);
  position: absolute;
  animation: fadeIn ease 1s;
  color: white;
}

.movie-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.poster-wrapper{
  width: 40%;
}
.movie-info{
  width: 50%;
}